@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body{
  font: 100%/1.4 "Montserrat", Arial, Helvetica, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background: #d67229;
  font-size: 1.2em;
}

a{
  text-decoration: none;
}

/*HEADER STUFF*/
.header1{
  height: 100vh;
  margin-top: -140px;
  background-image: url('images/moneyrbeest.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #555;

}

.header2{
  height: 100vh;
  margin-top: -140px;
  background-image: url('images/rebellion.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #111;

}

.navigation{
  background-color: rgba(255,255,255,.8);
  padding: 20px;
  height: 100px;
  position: sticky;
  top:0;
  left:0;
  z-index: 10000;

}

.navigation .logo{
  width: 60%;
}

.navigation nav ul{
  display: flex;
  justify-content: space-around;
  font-weight: 600;

}

.navigation nav ul a{
  color: #333;
  padding: 15px;
  transition: all .5s ease;
}
.active, .navigation nav ul a:hover{
  border-bottom: 10px solid #333;

}
img{
  width: 100%;
}

.header1 .heading{
  height: 100vh;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  top:0;
  width: 100%;
}

.heading h1{
  font-size: 2em;
  font-weight: 600;
  position: relative;
  top: 0;
  left: 5%;
}

.heading h2{
  position: relative;
  left: -40%;
  top: 5%;

}

.socials{
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.socials ul{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.socials ul a{
  display: block;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 1.5em;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50px;
  padding: 20px;
  transition: all ease 0.5s;
}

.socials ul a:hover{
  background-color: #d67229;
}

@media screen and (min-width: 700px){
  .navigation{
    display: flex;
    justify-content: space-between;
    height: 20px;
  }

  .navigation .logo{
    width: 150px;
  }
  .header1{
    margin-top: -60px;
    background-color: #555;

  }
  .heading h1{
    font-size: 2.5em;
  }
  .heading h2{
    left: -28%;
    font-size: 2em;
  }
}


@media screen and (min-width: 960px) {

    .header1{
      margin-top: -60px;
      background-position: left;
      background-size: cover;
      background-color: #555;

    }

    .heading h2{
      left: -8%;
      font-size: 2em;
    }

}


/*MAIN STUFF*/
.aboutme{
  padding: 40px;
  background: #d67229;
  color: white;
  text-align: center;
}

.aboutme2{
  padding: 40px;
  background: #222;
  color: white;
  text-align: center;
}

.aboutme h2, .passions h2, .aboutme2 h2, .chapters h2{
  font-weight: 600;
  font-size: 2.3em;
  display: inline-block;
  border-bottom: 5px solid #d67229;
  text-align: center;
}

.aboutme .aboutinfo figure{
  padding: 40px;
}

.passions{
  padding: 20px;
  text-align: center;
  background: white;
}

.passions div{
  padding: 20px;
}

.passions div h3, .chapterfile h3{
  font-weight: 600;
  font-size: 1.75em;
  text-align: left;
}

.chapters{
  padding: 40px;
  background: #eee;
}

.chapterfile{
  padding: 20px;
}



@media screen and (min-width: 960px) {
     .aboutinfo{
      display: flex;
      justify-content: space-around;
    }
    .aboutinfo figure{
      width: 30%;
    }
    .aboutinfo p{
      width: 40%;
      align-self: center;
    }

    .passion{
      display: flex;
      justify-content: space-around;
    }
    .passion div{
      width: 25%;
    }

    .passion div img{
      width: 100%;
    }
    .passions div h3{
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
    }

    .chapterfile{
      display: flex;
      justify-content: space-around;
    }

    .chapterfile:nth-child(2n){
      flex-direction: row-reverse;
    }

    .chapterfile figure, .chapterfile div{
      width: 40%;
    }
}



/*FOOTER STUFF*/

footer{
  background: #d67219;
  padding: 10px;
}
